.logo {
	height: 5vh;
	width: 8vw;
}

.footer_nav{
	text-decoration: none;
	color: white;
}

a {
	text-decoration: none;
}

.shop-links{
	color: #212529;
}

.shop-links :hover{
	color: darkgray;
}

.container_overlay{
	position: absolute;
	inset: 0px;
}

.frontpage-banner{
margin-top: 50px;
}